*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --music-img-size: 230px;
    --menu-width: 600px;
    --music-width: 100%;
}
hr {
    border: none;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
}
img{
    max-width: 100%;
}
body{
    background-color: rgb(112, 10, 112);
    width: 100%;
    min-height: 100vh;
}
.parsion-text{
    font-family: sans-serif;
}

.blob-1{
    border-radius: 30% 70% 70% 30% / 30% 68% 32% 70%;
}
.blob-2{
    border-radius: 85% 15% 70% 30% / 42% 68% 32% 58% ;
}
.blob-3{
    border-radius: 85% 15% 13% 87% / 42% 68% 32% 58% ;
}
.blob-4{
    border-radius: 72% 28% 30% 70% / 42% 14% 86% 58% ;   
}
.blob-5{
    border-radius: 72% 28% 55% 45% / 48% 33% 67% 52% ;
}
.blob-6{
    border-radius: 22% 78% 55% 45% / 48% 47% 53% 52% ;
}
.blob-7{
    border-radius: 15% 85% 55% 45% / 75% 61% 39% 25%;
}
.blob-8{
    border-radius: 43% 57% 81% 19% / 57% 81% 19% 43%;
}
.blob-9{
    border-radius: 78% 22% 49% 51% / 20% 51% 49% 80%;   
}
.blob-10{
    border-radius: 60% 40% 89% 11% / 21% 68% 32% 79%;
}

.z-i-2{
    z-index: 2;
}

.transition-04s{
    transition: left 0.4s ease, width 0.4s ease;
}

.p-relative{
    position: relative;
}

.cursor-pointer{
    cursor: pointer;
}

.top-right-10{
    position: absolute;
    top: 10px;
    right: 10px;
}

.menu{
    width: 100%;
    height: 100%;
    background-color: #ab00ab;
    padding: 10px;
    padding-bottom: 0px;
    display: flex;
    flex-flow: column;
}
#menu-column.show-menu {
    /* when menu is closed */
    left: 0px;
}
.show-menu + #music-column{
    /* when menu is opened */
    width: 60%;
    left: 40%;
}
.music-container-to-right{
    left: 40%;
}
.hidden-menu {
    left: -41%;
}
#menu-column{
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 40%;
}

.music-container{
    position: relative;
}
#music-column{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    /* padding-bottom: 40px; */
}

.music {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 35px;
}

.musical-icon{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 45px;
    cursor: pointer;
    z-index: 1;
    padding: 5px;
    border-radius: 4px;
    transition: background-color 0.1s linear;
}
.musical-icon:hover {
    background-color: rgba(255, 0, 255, 0.16);
}

.music-img {
    width: var(--music-img-size);
    height: var(--music-img-size);
    outline: 3px solid rgb(215, 0, 215);
    outline-offset: 5px;
}

.music-title {
    color: hsl(0, 0%, 90%);
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 30px;
    text-transform: capitalize;
}

.music-artist{
    margin-top: 8px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: hsla(0, 0%, 90%, 0.85);
}

.music-range-slider{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    border: 1px solid red;
    margin-top: 35px;
}

.prev-play_pause-next{
    margin-top: 50px;
    display: flex;
    flex-flow: row;
    column-gap: 50px;
}
.prev-play_pause-next button{
    border: none;
    font-size: 24px;
    background-color: transparent;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}
.prev-play_pause-next .play-pause-btn{
    width: 70px;
    height: 70px;
    background: linear-gradient(to bottom right, rgb(143, 0, 143), rgb(255, 0, 255));
}

/* menu */

.menu-search-section {
    margin-top: 25px;
    margin-left: 20px;
}

.menu-filters {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 25px;
    margin-top: 30px;
}

.menu-musics {
    max-height: 100%;
    margin-top: 25px;
    overflow-y: scroll;
    background-color: rgba(103, 13, 103, 0.5);
    padding: 25px 8px;
    border-radius: 8px;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 50px;
}

.menu-musics .menu-music-img {
    margin-left: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    outline: 2px solid rgb(223, 9, 223);
    outline-offset: 3px;
}

.menu-music-name_artist {
    margin-left: 40px;
}
.menu-music-name_artist h1{
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}
.menu-music-name_artist h2{
    color: hsla(0, 0%, 100%, 0.9);
    font-size: 18px;
    font-weight: 500;
    margin-top: 3px;
}

.menu-music {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-right: 10px;
    transition: background-color 0.15s linear;
    border-radius: 10px;
    position: relative;
}
.menu-music::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 5%;
    width: 90%;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
}
/* .menu-music:hover {
    background-color: rgb(164, 17, 164);
} */

.menu-music.selected {
    background-color: rgb(164, 17, 164);
}
@media (hover: none){
    .menu-music {
        background-color: rgb(164, 17, 164);
    }
    .menu-music.selected {
        background-color: transparent;
    }
}

.menu-music .play-pause{
    width: 18px;
}
.play-pause-container{
    margin-left: auto;
    background: linear-gradient(to bottom right, rgb(143, 0, 143), rgb(255, 0, 255));
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


/* music controlers */

.music-controlers {
    margin-top: 50px;
}


@media (max-width: 1000px) {
    :root {
        --music-img-size: 220px;
        --menu-width: 450px;
    }
    #menu-column {
        width: 100%;
        left: -101%;
    }
    #music-column {
        width: 100%!important;
        position: unset;
    }
}
@media (max-width: 800px) {
    :root {
        --music-img-size: 210px;
        --menu-width: 70%;
    }
    .musical-icon {
        width: 42px;
    }
}
@media (max-width: 600px) {
    :root {
        --music-img-size: 200px;
        --menu-width: 80%;
    }
}
@media (max-width: 400px) {
    :root {
        --music-img-size: 190px;
        --menu-width: 100%;
    }
}